In [1]:
12/2

6.0

In [2]:
6^6

46656

In [8]:
5-1

4

In [9]:
print("Hello,Welcome to julia Programming")

Hello,Welcome to julia Programming

# Variables

In [10]:
loan_amount = 1000
tenure = 5;

In [11]:
loan_amount * tenure

5000

In [12]:
intrest = .145
print(intrest)

0.145

In [13]:
my_name = "Rakshith"
print(my_name)

Rakshith

In [16]:
movie_name = "  Mission impossible"

"  Mission impossible"

In [18]:
# * is used as a concatenation in julia
my_name * movie_name

"Rakshith  Mission impossible"

In [19]:
typeof(intrest)

Float64

In [20]:
typeof(my_name)

String

In [21]:
typeof(tenure)

Int64

# Airthmetic operator precedence

In [22]:
2 + 5 - 6/2 *3

-2.0

In [23]:
(2+5)-(6/2)*3 # Elegant

-2.0

In [24]:
# order: /,*,+,-
2 * 3/3

2.0

In [25]:
6/2*3

9.0

# Correct Variable Names

In [26]:
name = "Rakshith Dheer reddy"
name

"Rakshith Dheer reddy"

In [28]:
# The variable name doesn't start with numbers

In [30]:
# Do not use keywords like quote
# Do not use @

# Arrays

In [31]:
a1 = [1,2,4,5]

4-element Array{Int64,1}:
 1
 2
 4
 5

In [32]:
typeof(a1)

Array{Int64,1}

In [35]:
a2 = [1,2.3,"Dheer",true]

4-element Array{Any,1}:
    1
    2.3
     "Dheer"
 true

In [36]:
a3 = [1.2,1.3,1.4]

3-element Array{Float64,1}:
 1.2
 1.3
 1.4

In [40]:
size(a1)

(4,)

In [41]:
sizeof(a1)

32

In [42]:
size(a2)

(4,)

In [44]:
sizeof(a2)

32

In [45]:
f1 = [print,println,printstyled]

3-element Array{Function,1}:
 print
 println
 printstyled

In [48]:
type_int = Int64[1,2,3]

3-element Array{Int64,1}:
 1
 2
 3

In [52]:
array_2d = [1 2 3 4;
            5 6 7 8]

2Ã—4 Array{Int64,2}:
 1  2  3  4
 5  6  7  8

In [53]:
array_rand = rand(4)

4-element Array{Float64,1}:
 0.09819129143907279
 0.1694769317714384
 0.9985515363774429
 0.5272196890130603

In [54]:
array_rand2 = rand(3,3)

3Ã—3 Array{Float64,2}:
 0.814194  0.976115  0.856735
 0.075797  0.395119  0.412675
 0.587666  0.647649  0.067886

# Ranges

In [2]:
collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [3]:
collect(2.5:5.5)

4-element Array{Float64,1}:
 2.5
 3.5
 4.5
 5.5

In [5]:
collect(1.5:0.5:3.5)

5-element Array{Float64,1}:
 1.5
 2.0
 2.5
 3.0
 3.5

In [6]:
collect(0:20:100)

6-element Array{Int64,1}:
   0
  20
  40
  60
  80
 100

In [13]:
c1 = collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [14]:
c1[3]

60

In [15]:
size(c1)

(6,)

In [17]:
sizeof(c1)

48

In [18]:
c1[end]

0

In [19]:
c1[end-2]

40

In [20]:
c1[2:5]

4-element Array{Int64,1}:
 80
 60
 40
 20

In [21]:
c1[[2,4]]

2-element Array{Int64,1}:
 80
 40

# Tuples

In [22]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [24]:
t1[2:4]

(2, 3, 4)

In [25]:
t1[[1,4]]

(1, 4)

In [26]:
t1[3:end]

(3, 4, 5)

In [32]:
t2 = ((1,3),(2,4))

((1, 3), (2, 4))

In [33]:
t2[1]

(1, 3)

In [34]:
t2[1][2]

3

In [35]:
marks = (maths = (90,100),science = (80,100))

(maths = (90, 100), science = (80, 100))

In [36]:
marks.maths

(90, 100)

In [44]:
marks2 = (Machine_Learning = (100,100),)

(Machine_Learning = (100, 100),)

In [45]:
marks3 = merge(marks,marks2)

(maths = (90, 100), science = (80, 100), Machine_Learning = (100, 100))

# Dictonary

In [47]:
Cars = Dict("maruthi" => 10000,"ford" => 50000)

Dict{String,Int64} with 2 entries:
  "maruthi" => 10000
  "ford"    => 50000

In [48]:
Cars["ford"]

50000

In [51]:
Cars2 = Dict(:Benz => 100000,:honda => 40000)

Dict{Symbol,Int64} with 2 entries:
  :honda => 40000
  :Benz  => 100000

In [54]:
Cars2[:Benz]

100000

In [55]:
haskey(Cars2,:honda)

true

In [56]:
delete!(Cars2,:Benz)

Dict{Symbol,Int64} with 1 entry:
  :honda => 40000

In [57]:
Cars2

Dict{Symbol,Int64} with 1 entry:
  :honda => 40000

In [58]:
keys(Cars)

Base.KeySet for a Dict{String,Int64} with 2 entries. Keys:
  "maruthi"
  "ford"

In [59]:
dict3 = merge(Cars,Cars2)

Dict{Any,Int64} with 3 entries:
  "maruthi" => 10000
  "ford"    => 50000
  :honda    => 40000

# Sets

In [ ]:
# It does not have duplicate elements and does not have a particular order